@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    /* --border-width: min( max(calc( min(100vh, 100vw) / 170), 3px), 7px); */
    --border-color: rgb(26, 26, 26);
    --border-radius: min( max(calc( min(100vh, 100vw) / 25), 20px), 100px);

    transition: background-color 0.75s ease;
    background-color: rgba(255,255,255,0);
    overflow: hidden;
}

@-webkit-keyframes start-bg-dark{
    0%{
        background-color: black;
    }
    100%{
        background-color: rgb(20,20,20);
    }
}
@keyframes start-bg-dark{
    0%{
        background-color: black;
    }
    100%{
        background-color: rgb(20,20,20);
    }
}

@-webkit-keyframes start-bg-light{
    0%{
        background-color: white;
    }
    100%{
        background-color: rgba(255,255,255,0);
    }
}
@keyframes start-bg-light{
    0%{
        background-color: white;
    }
    100%{
        background-color: rgba(255,255,255,0);
    }
}

@media (prefers-color-scheme: light) {
    body {
        --border-color: rgb(26, 26, 26);
        background-color: rgba(255,255,255,0);
        color: black;
        /* -webkit-animation: start-bg-light 2s ease 1;
                animation: start-bg-light 2s ease 1; */
    }
}
@media (prefers-color-scheme: dark) {
    body {
        --border-color:rgb(238, 238, 238);
        background-color: rgb(20,20,20);
        color: white;
        -webkit-animation: start-bg-dark 2s ease 1;
                animation: start-bg-dark 2s ease 1;
    }
}

/* FLEX PART */
.row-flex-container{
    touch-action: pan-x pan-y;

    position: relative;
    top: 0;
    left: 0;
    height: 100vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: hidden;
    align-items: center;
    /* writing-mode: horizontal-tb; */
    transition: opacity 1s ease, -webkit-filter 1s ease;
    transition: opacity 1s ease, filter 1s ease;
    transition: opacity 1s ease, filter 1s ease, -webkit-filter 1s ease;
}

.row-flex-item{
    flex: 0 0 auto;
    margin-left: max(min(calc(0.1 * max(100vh, 100vw)), 150px), 50px);
    
    border-radius: var(--border-radius);
    border: 4px solid var(--border-color);

    /* template testing */
    /* width: 65vh; */
    height: 65vh;
    background-color: rgba(255,255,255,0);
    background-size: cover;
    background-repeat: no-repeat;
}

#flex-start{
    height: 65vh;
    margin-left: calc(min(3.5vw, 70px)) !important;
}

.info-start{
    background-image: url('./info/page-assets/LAday.jpg');
    transition: background-image 1s ease;
}
@media (prefers-color-scheme: light) {
    .info-start{
        background-image: url('./info/page-assets/LAday.jpg');
    }
}
@media (prefers-color-scheme: dark) {
    .info-start{
        background-image: url('./info/page-assets/LAnight.jpg');
    }
}

.scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
}

.flex-blog{
    width: auto !important; 
    height: auto !important;
    max-height: calc(65vh - var(--border-radius)*2);
    max-width: 75vh;
    margin-left: calc(0.5 * max(min(calc(0.1 * max(100vh, 100vw)), 150px), 50px)) !important;
    color: var(--border-color);
    overflow: auto;
    border-radius: 0%;

    transition: background-color 1s ease;
}
.flex-text{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 30px;
    margin-top: min( max(calc( min(100vh, 100vw) / 25), 20px), 100px);
    margin-bottom: min( max(calc( min(100vh, 100vw) / 25), 20px), 100px);
    margin-left: min( max(calc( min(100vh, 100vw) / 25), 20px), 100px);
    margin-right: min( max(calc( min(100vh, 100vw) / 25), 20px), 100px);
}
@media only screen and (max-width: 2560px) {
    .flex-text {
      font-size: 28px;
    }
}
@media only screen and (max-width: 1650px) {
    .flex-text {
      font-size: 26px;
    }
}
@media only screen and (max-width: 600px) {
    .flex-text {
      font-size: 24px;
    }
}
@media only screen and (max-width: 400px) {
    .flex-text {
      font-size: 22px;
    }
}
/* =========== */
/* SIDE COLUMN */

.side-column-container{
    --gradient-deg: 0deg;
    touch-action: pan-y;

    /* position: fixed; */
    position: absolute;
    top:0;
    left:0;
    width: 50vw;
    /* min-width: 500px; */
    height: 100vh;
    max-height: 100vh;
    z-index: 1;
    overflow-y: auto;

    /* direction: rtl; */

    background-color: rgba(255,255,255,0.55);
    background-image: url('./pages-assets/grain.gif');
    color: black;
    
    font-family: 'Space Mono', monospace;
    font-size: 26px;
    font-weight: 600;

    transition: all 0.5s ease, transform 1s ease, width 0.25s ease, opacity 1s ease, -webkit-filter 1s ease;

    transition: all 0.5s ease, transform 1s ease, width 0.25s ease, opacity 1s ease, filter 1s ease;

    transition: all 0.5s ease, transform 1s ease, width 0.25s ease, opacity 1s ease, filter 1s ease, -webkit-filter 1s ease;
    -webkit-animation: bg-position-move 120s ease-out infinite;
            animation: bg-position-move 120s ease-out infinite;

    mix-blend-mode: exclusion;
}
@media only screen and (max-width: 2560px) {
    .side-column-container {
      font-size: 24px;
    }
}
@media only screen and (max-width: 1650px) {
    .side-column-container {
      font-size: 22px;
    }
}
@media only screen and (max-width: 600px) {
    .side-column-container {
      font-size: 20px;
    }
}
@media only screen and (max-width: 400px) {
    .side-column-container {
      font-size: 18px;
    }
}

@media (prefers-color-scheme: light) {
    .side-column-container{
        background-color: rgba(255,255,255,0.55);
        color: black;
        /* background-color: rgba(130,130,130,0.3);
        color: white; */
    }
}
@media (prefers-color-scheme: dark) {
    .side-column-container{
        background-color: rgba(80,80,80,1);
        color: white;
        /* background-color: rgba(255,255,255,0.55);
        color: black; */
    }
}
.side-column-container > * {
    direction:ltr;
    /* padding-left: calc(min(5vw, 110px));
    padding-right: calc(min(5vw, 110px)); */
    margin-left: min(5vw, 110px);
    margin-right: min(5vw, 110px);
    opacity: 100% !important;
}

.column-image{
    max-width: 80%;
}

#column-border{
    /* position: fixed; */
    position: absolute;
    top: 0;
    left: 50%;
    
    height: 100vh;
    max-height: 100vh;
    width: 3.85px;
    background-color: var(--border-color);

    mix-blend-mode: difference;
    /* filter: brightness(100%); */

    transition: all 0.5s ease, transform 1s ease, left 0.25s ease, opacity 1s ease, -webkit-filter 1s ease;

    transition: all 0.5s ease, transform 1s ease, left 0.25s ease, opacity 1s ease, filter 1s ease;

    transition: all 0.5s ease, transform 1s ease, left 0.25s ease, opacity 1s ease, filter 1s ease, -webkit-filter 1s ease;
    z-index: 1;
}

@-webkit-keyframes bg-position-move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 250vw 15vh;
    }
}

@keyframes bg-position-move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 250vw 15vh;
    }
}

#side-button{
    /* position: fixed; */
    position: absolute;
    /* 3.5px is border width of column */
    left: calc(50vw + 3.5px + 7px);
    top: calc(50% - 30px);

    width: 60px;
    height: 60px;

    border: 3.5px solid var(--border-color);
    border-radius: 100%;

    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;

    mix-blend-mode: difference;
    /* -webkit-filter: contrast(0%) brightness(70%);
            filter: contrast(0%) brightness(70%); */

    transition: all 0.25s cubic-bezier(.35,.19,.61,2.2), left 0.75s cubic-bezier(.35,.19,.51,1.35), background-color 0.3s ease, opacity 1s ease, -webkit-filter 1s ease;

    transition: all 0.25s cubic-bezier(.35,.19,.61,2.2), left 0.75s cubic-bezier(.35,.19,.51,1.35), background-color 0.3s ease, opacity 1s ease, filter 1s ease;

    transition: all 0.25s cubic-bezier(.35,.19,.61,2.2), left 0.75s cubic-bezier(.35,.19,.51,1.35), background-color 0.3s ease, opacity 1s ease, filter 1s ease, -webkit-filter 1s ease;
}
#back-button{
    /* position: fixed; */
    position: absolute;
    left: calc(100vw - 75px);
    top: calc(50% - 30px);

    width: 60px;
    height: 60px;

    border: 3.5px solid var(--border-color);
    border-radius: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;

    mix-blend-mode: difference;
    /* -webkit-filter: contrast(0%) brightness(70%);
            filter: contrast(0%) brightness(70%); */

    transition: all 0.25s cubic-bezier(.35,.19,.61,2.2), left 1s cubic-bezier(.35,.19,.51,1.35), background-color 0.75s ease, opacity 1s ease, -webkit-filter 1s ease;

    transition: all 0.25s cubic-bezier(.35,.19,.61,2.2), left 1s cubic-bezier(.35,.19,.51,1.35), background-color 0.75s ease, opacity 1s ease, filter 1s ease;

    transition: all 0.25s cubic-bezier(.35,.19,.61,2.2), left 1s cubic-bezier(.35,.19,.51,1.35), background-color 0.75s ease, opacity 1s ease, filter 1s ease, -webkit-filter 1s ease;
}
/* @media (prefers-color-scheme: light) {
    #side-button{
        -webkit-filter: contrast(0%) brightness(70%);
                filter: contrast(0%) brightness(70%);
    }
    #back-button{
        -webkit-filter: contrast(0%) brightness(70%);
                filter: contrast(0%) brightness(70%);
    }
}
@media (prefers-color-scheme: dark) {
    #side-button{
        -webkit-filter: contrast(0%) brightness(180%);
                filter: contrast(0%) brightness(180%);
    }
    #back-button{
        -webkit-filter: contrast(0%) brightness(180%);
                filter: contrast(0%) brightness(180%);
    }
} */

.squiggle{
    -webkit-animation: squiggly-anim 0.15s linear infinite;
            animation: squiggly-anim 0.15s linear infinite;
}
.buzz{
    -webkit-animation: buzz-anim 0.35s linear infinite;
            animation: buzz-anim 0.35s linear infinite;
}

@-webkit-keyframes squiggly-anim {
    0% {
        -webkit-filter: url("#squiggly-0");
                filter: url("#squiggly-0");
        transform: translateX(2px) translateX(2px) rotate(3deg);
    }
    25% {
        -webkit-filter: url("#squiggly-2");
                filter: url("#squiggly-2");
        transform: translateX(3px) translateY(5px) rotate(4deg);
    }
    50% {
        -webkit-filter: url("#squiggly-1");
                filter: url("#squiggly-1");
        transform: translateX(-2px) translateX(-2px) rotate(3deg);
    }
    75% {
        -webkit-filter: url("#squiggly-3");
                filter: url("#squiggly-3");
        transform: translateX(3px) translateY(-3px) rotate(4deg);
    }
    100% {
        -webkit-filter: url("#squiggly-4");
                filter: url("#squiggly-4");
        transform: translateX(2px) translateX(2px) rotate(3deg);
    }
}

@keyframes squiggly-anim {
    0% {
        -webkit-filter: url("#squiggly-0");
                filter: url("#squiggly-0");
        transform: translateX(2px) translateX(2px) rotate(3deg);
    }
    25% {
        -webkit-filter: url("#squiggly-2");
                filter: url("#squiggly-2");
        transform: translateX(3px) translateY(5px) rotate(4deg);
    }
    50% {
        -webkit-filter: url("#squiggly-1");
                filter: url("#squiggly-1");
        transform: translateX(-2px) translateX(-2px) rotate(3deg);
    }
    75% {
        -webkit-filter: url("#squiggly-3");
                filter: url("#squiggly-3");
        transform: translateX(3px) translateY(-3px) rotate(4deg);
    }
    100% {
        -webkit-filter: url("#squiggly-4");
                filter: url("#squiggly-4");
        transform: translateX(2px) translateX(2px) rotate(3deg);
    }
}

/* =========================== */

@-webkit-keyframes buzz-anim {
    0%{
        transform: translateX(8px) translateX(8px) rotate(12deg);
    }
    13%{
        transform: translateX(-20px) translateY(-12px) rotate(-16deg);
    }
    28% {
        transform: translateX(12px) translateY(20px) rotate(16deg);
    }
    42%{
        transform: translateX(-20px) translateY(-20px) rotate(-12deg);
    }
    50% {
        transform: translateX(-8px) translateX(-8px) rotate(12deg);
    }
    63%{
        transform: translateX(-20px) translateY(20px) rotate(-16deg);
    }
    78% {
        transform: translateX(12px) translateY(-12px) rotate(16deg);
    }
    92%{
        transform: translateX(-20px) translateY(20px) rotate(-12deg);
    }
    100% {
        transform: translateX(8px) translateX(8px) rotate(12deg);
    }
}

@keyframes buzz-anim {
    0%{
        transform: translateX(8px) translateX(8px) rotate(12deg);
    }
    13%{
        transform: translateX(-20px) translateY(-12px) rotate(-16deg);
    }
    28% {
        transform: translateX(12px) translateY(20px) rotate(16deg);
    }
    42%{
        transform: translateX(-20px) translateY(-20px) rotate(-12deg);
    }
    50% {
        transform: translateX(-8px) translateX(-8px) rotate(12deg);
    }
    63%{
        transform: translateX(-20px) translateY(20px) rotate(-16deg);
    }
    78% {
        transform: translateX(12px) translateY(-12px) rotate(16deg);
    }
    92%{
        transform: translateX(-20px) translateY(20px) rotate(-12deg);
    }
    100% {
        transform: translateX(8px) translateX(8px) rotate(12deg);
    }
}

#transition{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 3;
    transition: opacity 0.75s ease;
}
@media (prefers-color-scheme: light) {
    #transition {
        background-color: white;
    }
}
@media (prefers-color-scheme: dark) {
    #transition {
        background-color: black;
    }
}
#transition.away{
    opacity: 0;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                 supported by Chrome, Edge, Opera and Firefox */
}