/* Air */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer&display=swap');
/* arstrology */
@import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');
/* Barrage */
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
/* Balck Bg */
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap');
/* ubuntu condensed */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

/* title */
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
/* default */
/* @import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');


@font-face {
    font-family: 'mahjong';
    src: url('fonts/tilez/tilez-webfont.woff2') format('woff2'),
         url('fonts/tilez/tilez-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'water';
    src: url('fonts/bubble_sharp/bubble_sharp-webfont.woff2') format('woff2'),
         url('fonts/bubble_sharp/bubble_sharp-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'play';
    src: url('fonts/play_ground/playground-webfont.woff2') format('woff2'),
         url('fonts/play_ground/playground-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'wire';
    src: url('fonts/hellobubblebutt/hellobubblebutt-webfont.woff2') format('woff2'),
         url('fonts/hellobubblebutt/hellobubblebutt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'system';
    src: url('fonts/hydraulics_system/hydraulics_system-webfont.woff2') format('woff2'),
         url('fonts/hydraulics_system/hydraulics_system-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'systemOutline';
    src: url('fonts/hydraulics_system/hydraulics_system-outline-webfont.woff2') format('woff2'),
         url('fonts/hydraulics_system/hydraulics_system-outline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'blocks';
    src: url('fonts/babyblocks/baby_blocks-webfont.woff2') format('woff2'),
         url('fonts/babyblocks/baby_blocks-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    --circleColor:black;
    --shadowColor: rgb(80,80,80);
    overflow: hidden;
    transition: background-color 0.75s ease;
    touch-action: none;
}

@media (prefers-color-scheme: light) {
    body{
        --circleColor: black;
        --shadowColor: rgb(80,80,80);
        background-color: white;
        color: black;
    }
}
@media (prefers-color-scheme: dark) {
    body{
        --circleColor: white;
        --shadowColor: rgb(175,175,175);
        background-color: black;
        color: white;
    }
}

.horizontal-bg{
    position: fixed;
    /* right: -5%;
    bottom: 0; */
    
    /* height: 70vh;
    width: 124.444444444; 
    min-width: 70vw;
    min-height: 39.375vw;  */

    bottom: 0;
    right: 0;
    height: 100vh;
    width: 177.777777778vh;
    min-width: 100vw;
    min-height: 56.25vw;


    /* opacity: 100%; */
    /* -webkit-filter: contrast(150%);
            filter: contrast(150%); */
}
.vertical-bg{
    position: fixed;
    /* right: -50%;
    bottom: 30%; */
    
    /* height: 50vh;
    width: 88.8888888889vh; 
    min-width: 50vw;
    min-height: 28.125vw; */

    bottom: 0;
    right: -100%;
    min-height: 100vh;
    min-width: 177.777777778vh;
    width: 100vw;
    height: 56.25vw;


    /* opacity: 100%; */
    /* -webkit-filter: contrast(150%);
            filter: contrast(150%); */

    transform: rotate(-90deg);
}

#buo-video{
    transition: all 0.5s ease;
}
#bg-image{
    transition: all 0.5s ease;
}
#screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.035);
}
@media (prefers-color-scheme: light) {
    #buo-video {-webkit-filter: contrast(150%) invert(0);filter: contrast(150%) invert(0);}
    #bg-image{-webkit-filter: contrast(150%) invert(0);filter: contrast(150%) invert(0);}
    #title{-webkit-filter: invert(0);filter: invert(0);}
    #screen{background-color: rgba(0,0,0, 0.035);}
}
@media (prefers-color-scheme: dark) {
    #buo-video {-webkit-filter: contrast(150%) invert(100%);filter: contrast(150%) invert(100%);}
    #bg-image{-webkit-filter: contrast(150%) invert(100%);filter: contrast(150%) invert(100%);}
    #title{-webkit-filter: invert(100%);filter: invert(100%);}
    #screen{background-color: rgba(255,255,255,0.05);}
}

#title{
    position: fixed;
    right: 0;
    top: 0;
    padding: 30px;

    /* font-family: 'DotGothic16', sans-serif; */
    font-family: 'Londrina Outline', cursive;
    font-size: 45px;
    color: #310c24;
    transition: opacity 0.5s ease;
}

#main-menu {
    --scrollDeg: 15deg;
    position: fixed;
    transition: opacity 1.5s ease, -webkit-filter 1.5s ease;
    transition: opacity 1.5s ease, filter 1.5s ease;
    transition: opacity 1.5s ease, filter 1.5s ease, -webkit-filter 1.5s ease;

    z-index: 1;
}
#new-menu{
    --scrollDeg: 15deg;
    position: fixed;

    transition: opacity 1.5s ease, -webkit-filter 1.5s ease;
    transition: opacity 1.5s ease, filter 1.5s ease;
    transition: opacity 1.5s ease, filter 1.5s ease, -webkit-filter 1.5s ease;

    display: none;
    z-index: 1;
}
#past-menu{
    --scrollDeg: 15deg;
    position: fixed;

    transition: opacity 1.5s ease, -webkit-filter 1.5s ease;
    transition: opacity 1.5s ease, filter 1.5s ease;
    transition: opacity 1.5s ease, filter 1.5s ease, -webkit-filter 1.5s ease;
    display: none;
    z-index: 1;
}
#undone-menu{
    --scrollDeg: 15deg;
    position: fixed;

    transition: opacity 1.5s ease, -webkit-filter 1.5s ease;
    transition: opacity 1.5s ease, filter 1.5s ease;
    transition: opacity 1.5s ease, filter 1.5s ease, -webkit-filter 1.5s ease;

    display: none;
    z-index: 1;
}


.menu-disappear{
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    z-index: 0 !important;
}

.horizontal{
    top: calc(50vh - 75px);
    left: 2vw;

    width: 70vw;
    max-width: 1050px;
    min-width: 650px;
    height: 150px;

    transform-origin: center left;
    /* transform: scale(1); */
    -webkit-transform-origin: center left;
    /* -webkit-transform: scale(1); */
    perspective: 0px;
}

.vertical{
    top: calc(84.5vh - 75px);
    left: 45vw;

    width: 100vh;
    max-width: 575px;
    height: 150px;

    transform-origin: center left;
    /* transform: rotateZ(-90deg) scale(1); */
    -webkit-transform-origin: center left;
    /* -webkit-transform: rotateZ(-90deg) scale(1); */
    perspective: 0px;
}

.menu {
    width: 100%;
    height: 100%;
    position: relative;

    transform-style: preserve-3d; 
    transform: rotateX(var(--scrollDeg));
    -webkit-transform: rotateX(var(--scrollDeg));
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;

    /* font-family: 'Special Elite', cursive; */
    /* font-family: 'Averia Libre', cursive; */
    /* font-family: 'Flamenco', cursive; */
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;

    font-size: 140px;
    line-height: 1.22;
    text-align: left;
    /* color: black; */
    
    /* for test */
    /* background-color: green;
    opacity: 50%; */

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;

    outline: 1px solid rgba(255,255,255,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/* MAIN MENU */
#face1 { 
    transform: rotateX(0deg) translateZ(75px);
    -webkit-transform: rotateX(0deg) translateZ(75px);
}
#face2 { 
    transform: rotateX(180deg) translateZ(75px); 
    -webkit-transform: rotateX(180deg) translateZ(75px); 
}
#face3 { 
    transform: rotateX(90deg) translateZ(75px); 
    -webkit-transform: rotateX(90deg) translateZ(75px);
}
#face4 { 
    transform: rotateX(-90deg) translateZ(75px); 
    -webkit-transform: rotateX(-90deg) translateZ(75px); 
}

/* PAST MENU */
#face5 { 
    transform: rotateX(0deg) translateZ(168px);
    -webkit-transform: rotateX(0deg) translateZ(168px);
}
#face6 { 
    transform: rotateX(51.4286deg) translateZ(168px); 
    -webkit-transform: rotateX(51.4286deg) translateZ(168px);
}
#face7 { 
    transform: rotateX(-51.4286deg) translateZ(168px); 
    -webkit-transform: rotateX(-51.4286deg) translateZ(168px); 
}
#face8 { 
    transform: rotateX(102.8571deg) translateZ(168px); 
    -webkit-transform: rotateX(102.8571deg) translateZ(168px); 
}
#face9 { 
    transform: rotateX(-102.8571deg) translateZ(168px); 
    -webkit-transform: rotateX(-102.8571deg) translateZ(168px); 
}
#face10 { 
    transform: rotateX(154.2857deg) translateZ(168px); 
    -webkit-transform: rotateX(154.2857deg) translateZ(168px); 
}
/* #face11 { 
    transform: rotateX(-135deg) translateZ(181px); 
    -webkit-transform: rotateX(-135deg) translateZ(181px); 
} */
#face12 { 
    transform: rotateX(-154.2857deg) translateZ(168px); 
    -webkit-transform: rotateX(-154.2857deg) translateZ(168px); 
}

/* NEW MENU */
#face13 { 
    transform: rotateX(0deg) translateZ(43.5px);
    -webkit-transform: rotateX(0deg) translateZ(43.5px);
}
#face14 { 
    transform: rotateX(120deg) translateZ(43.5px); 
    -webkit-transform: rotateX(120deg) translateZ(43.5px);
}
#face15 { 
    transform: rotateX(-120deg) translateZ(43.5px); 
    -webkit-transform: rotateX(-120deg) translateZ(43.5px); 
}

/* UNDONE MENU */
#face16 { 
    transform: rotateX(0deg) translateZ(43.5px);
    -webkit-transform: rotateX(0deg) translateZ(43.5px);
}
#face17 { 
    transform: rotateX(120deg) translateZ(43.5px); 
    -webkit-transform: rotateX(120deg) translateZ(43.5px);
}
#face18 { 
    transform: rotateX(-120deg) translateZ(43.5px); 
    -webkit-transform: rotateX(-120deg) translateZ(43.5px); 
}

.option-circle{

    position: absolute;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    top: calc(50% - 17px);
    right: -3%;

    outline: 1px solid rgba(255,255,255,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    
    background-color: rgba(255,255,255,0);
    background-image: none;
    background-size: cover;

    z-index: 2;
    border: 4px solid black;

    transition: all 0.25s cubic-bezier(.35,.19,.51,1.35), opacity 0.5s ease, -webkit-filter 0.5s ease;

    transition: all 0.25s cubic-bezier(.35,.19,.51,1.35), opacity 0.5s ease, filter 0.5s ease;

    transition: all 0.25s cubic-bezier(.35,.19,.51,1.35), opacity 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
    
    /* -webkit-backface-visibility: hidden;
    backface-visibility: hidden; */
    -webkit-font-smoothing: subpixel-antialiased;

    transform: translate3d(0,0,0);

    -webkit-animation: none;
            animation: none;
}
@media (prefers-color-scheme: light) {
    .option-circle {border-color: black;}
}
@media (prefers-color-scheme: dark) {
    .option-circle {border-color: white;}
}


.squiggle{
    -webkit-animation: squiggly-anim 0.15s linear infinite;
            animation: squiggly-anim 0.15s linear infinite;
}

@-webkit-keyframes squiggly-anim {
    0% {
      -webkit-filter: url("#squiggly-0");
              filter: url("#squiggly-0");
    }
    25% {
      -webkit-filter: url("#squiggly-2");
              filter: url("#squiggly-2");
      transform: translateY(-2px) rotate(-1.25deg);
    }
    50% {
      -webkit-filter: url("#squiggly-1");
              filter: url("#squiggly-1");
      transform: translateX(1.75px) rotate(2.25deg);
    }
    75% {
      -webkit-filter: url("#squiggly-3");
              filter: url("#squiggly-3");
      transform: translateY(-1.5px) rotate(-1deg);
    }
    100% {
      -webkit-filter: url("#squiggly-4");
              filter: url("#squiggly-4");
      transform: translateX(1.25px) rotate(2deg);
    }
}

@keyframes squiggly-anim {
    0% {
      -webkit-filter: url("#squiggly-0");
              filter: url("#squiggly-0");
    }
    25% {
      -webkit-filter: url("#squiggly-2");
              filter: url("#squiggly-2");
      transform: translateY(-2px) rotate(-1.25deg);
    }
    50% {
      -webkit-filter: url("#squiggly-1");
              filter: url("#squiggly-1");
      transform: translateX(1.75px) rotate(2.25deg);
    }
    75% {
      -webkit-filter: url("#squiggly-3");
              filter: url("#squiggly-3");
      transform: translateY(-1.5px) rotate(-1deg);
    }
    100% {
      -webkit-filter: url("#squiggly-4");
              filter: url("#squiggly-4");
      transform: translateX(1.25px) rotate(2deg);
    }
}

.squiggle-less-rotate{
    -webkit-animation: squiggly-less-rotate-anim 0.15s linear infinite;
            animation: squiggly-less-rotate-anim 0.15s linear infinite;
}

@-webkit-keyframes squiggly-less-rotate-anim {
    0% {
        -webkit-filter: url("#squiggly-0");
                filter: url("#squiggly-0");
    }
    25% {
    -webkit-filter: url("#squiggly-2");
            filter: url("#squiggly-2");
    transform: translateY(-1.5px) rotate(-3deg);
    }
    50% {
    -webkit-filter: url("#squiggly-1");
            filter: url("#squiggly-1");
    transform: translateX(1px) rotate(2.5deg);
    }
    75% {
    -webkit-filter: url("#squiggly-3");
            filter: url("#squiggly-3");
    transform: translateY(-1.3px) rotate(-2.5deg);
    }
    100% {
    -webkit-filter: url("#squiggly-4");
            filter: url("#squiggly-4");
    transform: translateX(0.8px) rotate(2deg);
    }
}

@keyframes squiggly-less-rotate-anim {
    0% {
      -webkit-filter: url("#squiggly-0");
              filter: url("#squiggly-0");
    }
    25% {
      -webkit-filter: url("#squiggly-2");
              filter: url("#squiggly-2");
      transform: translateY(-1.5px) rotate(-3deg);
    }
    50% {
      -webkit-filter: url("#squiggly-1");
              filter: url("#squiggly-1");
      transform: translateX(1px) rotate(2.5deg);
    }
    75% {
      -webkit-filter: url("#squiggly-3");
              filter: url("#squiggly-3");
      transform: translateY(-1.3px) rotate(-2.5deg);
    }
    100% {
      -webkit-filter: url("#squiggly-4");
              filter: url("#squiggly-4");
      transform: translateX(0.8px) rotate(2deg);
    }
}

/*  */
.squiggle-less-rotate-90{
    -webkit-animation: squiggly-less-rotate-90-anim 0.15s linear infinite;
            animation: squiggly-less-rotate-90-anim 0.15s linear infinite;
}

@-webkit-keyframes squiggly-less-rotate-90-anim {
    0% {
      -webkit-filter: url("#squiggly-0");
              filter: url("#squiggly-0");
      transform: rotate(90deg);
    }
    25% {
      -webkit-filter: url("#squiggly-2");
              filter: url("#squiggly-2");
      transform: translateY(-1.5px) rotate(87deg);
    }
    50% {
      -webkit-filter: url("#squiggly-1");
              filter: url("#squiggly-1");
      transform: translateX(1px) rotate(92.5deg);
    }
    75% {
      -webkit-filter: url("#squiggly-3");
              filter: url("#squiggly-3");
      transform: translateY(-1.3px) rotate(87.5deg);
    }
    100% {
      -webkit-filter: url("#squiggly-4");
              filter: url("#squiggly-4");
      transform: translateX(0.8px) rotate(92deg);
    }
}

@keyframes squiggly-less-rotate-90-anim {
    0% {
      -webkit-filter: url("#squiggly-0");
              filter: url("#squiggly-0");
      transform: rotate(90deg);
    }
    25% {
      -webkit-filter: url("#squiggly-2");
              filter: url("#squiggly-2");
      transform: translateY(-1.5px) rotate(87deg);
    }
    50% {
      -webkit-filter: url("#squiggly-1");
              filter: url("#squiggly-1");
      transform: translateX(1px) rotate(92.5deg);
    }
    75% {
      -webkit-filter: url("#squiggly-3");
              filter: url("#squiggly-3");
      transform: translateY(-1.3px) rotate(87.5deg);
    }
    100% {
      -webkit-filter: url("#squiggly-4");
              filter: url("#squiggly-4");
      transform: translateX(0.8px) rotate(92deg);
    }
}

.alt-buzz{
    -webkit-animation: alt-buzz 0.15s linear infinite;
            animation: alt-buzz 0.15s linear infinite;
}

@-webkit-keyframes alt-buzz {
    0% {
        transform: translateX(0) translateY(0) rotate(0deg);
    }
    10% {
        transform: translateX(4px) translateY(-4px) rotate(4deg);
    }
    25% {
        transform: translateX(-3.5px) translateY(3.5px) rotate(-3.5deg);
    }
    50% {
        transform: translateX(3.5px) translateY(3px) rotate(3deg);
    }
    75% {
        transform: translateX(-2.5px) translateY(-2.5px) rotate(-2.5deg);
    }
    90% {
        transform: translateX(-2px) translateY(2px) rotate(2deg);
    }
    100% {
      transform: translateX(0) translateY(0) rotate(0deg);
    }
}

@keyframes alt-buzz {
    0% {
        transform: translateX(0) translateY(0) rotate(0deg);
    }
    10% {
        transform: translateX(4px) translateY(-4px) rotate(4deg);
    }
    25% {
        transform: translateX(-3.5px) translateY(3.5px) rotate(-3.5deg);
    }
    50% {
        transform: translateX(3.5px) translateY(3px) rotate(3deg);
    }
    75% {
        transform: translateX(-2.5px) translateY(-2.5px) rotate(-2.5deg);
    }
    90% {
        transform: translateX(-2px) translateY(2px) rotate(2deg);
    }
    100% {
      transform: translateX(0) translateY(0) rotate(0deg);
    }
}
/*  */
.alt-buzz-90{
    -webkit-animation: alt-buzz-90 0.15s linear infinite;
            animation: alt-buzz-90 0.15s linear infinite;
}
@-webkit-keyframes alt-buzz-90 {
    0% {
        transform: translateX(0) translateY(0) rotate(90deg);
    }
    10% {
        transform: translateX(4px) translateY(-4px) rotate(94deg);
    }
    25% {
        transform: translateX(-3.5px) translateY(3.5px) rotate(86.5deg);
    }
    50% {
        transform: translateX(3.5px) translateY(3px) rotate(93deg);
    }
    75% {
        transform: translateX(-2.5px) translateY(-2.5px) rotate(87.5deg);
    }
    90% {
        transform: translateX(-2px) translateY(2px) rotate(92deg);
    }
    100% {
      transform: translateX(0) translateY(0) rotate(90deg);
    }
}
@keyframes alt-buzz-90 {
    0% {
        transform: translateX(0) translateY(0) rotate(90deg);
    }
    10% {
        transform: translateX(4px) translateY(-4px) rotate(94deg);
    }
    25% {
        transform: translateX(-3.5px) translateY(3.5px) rotate(86.5deg);
    }
    50% {
        transform: translateX(3.5px) translateY(3px) rotate(93deg);
    }
    75% {
        transform: translateX(-2.5px) translateY(-2.5px) rotate(87.5deg);
    }
    90% {
        transform: translateX(-2px) translateY(2px) rotate(92deg);
    }
    100% {
      transform: translateX(0) translateY(0) rotate(90deg);
    }
}


.buzz{
    -webkit-animation: buzz-anim 0.1s linear infinite;
            animation: buzz-anim 0.1s linear infinite;
}

@-webkit-keyframes buzz-anim {
    25%{
        transform: translateX(-3px) rotate(-4deg);
    }
    50% {
        transform: translateX(3px) rotate(4deg);
    }
    75%{
        transform: translateX(-2px) rotate(-3deg);
    }
    100% {
        transform: translateX(2px) rotate(3deg);
    }
}

@keyframes buzz-anim {
    25%{
        transform: translateX(-3px) rotate(-4deg);
    }
    50% {
        transform: translateX(3px) rotate(4deg);
    }
    75%{
        transform: translateX(-2px) rotate(-3deg);
    }
    100% {
        transform: translateX(2px) rotate(3deg);
    }
}

.buzz-rotate{
    -webkit-animation: buzz-rotate-anim 0.15s linear infinite;
            animation: buzz-rotate-anim 0.15s linear infinite;
}
@-webkit-keyframes buzz-rotate-anim {
    0%{
        transform: rotate(90deg);
    }
    25%{
        transform: translateY(-5.5px) rotate(86deg);
    }
    50% {
        transform: translateX(5.5px) rotate(95deg);
    }
    75%{
        transform: translateY(-4.5px) rotate(87deg);
    }
    98% {
        transform: translateX(4.5px) rotate(92deg);
    }
    100%{
        transform: rotate(90deg);
    }
}
@keyframes buzz-rotate-anim {
    0%{
        transform: rotate(90deg);
    }
    25%{
        transform: translateY(-5.5px) rotate(86deg);
    }
    50% {
        transform: translateX(5.5px) rotate(95deg);
    }
    75%{
        transform: translateY(-4.5px) rotate(87deg);
    }
    98% {
        transform: translateX(4.5px) rotate(92deg);
    }
    100%{
        transform: rotate(90deg);
    }
}

#transition{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 3;
    transition: opacity 0.75s ease;
}
@media (prefers-color-scheme: light) {
    #transition {background-color: white;}
}
@media (prefers-color-scheme: dark) {
    #transition {background-color:black;}
}
.away{
    opacity: 0;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                 supported by Chrome, Edge, Opera and Firefox */
  }